body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sound-grid {
   display: grid;
   grid-template-columns: auto auto auto;
   background-color: #2195f34b;
   padding: 10px;
}

.title, .sign-up, .log-in, .sign-up-form {
  text-align: center;
}

.error-home {
  color: red;
  text-align: center;
}

.sign-up-info {
  font-size: 14px;
}

.title {
  font-size: xx-large;
}

.sign-up-form {
  padding: 10px;
}
